### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Vim Plugins
symlinks/.vim/bundle/*
symlinks/.vim/autoload/plug.vim
symlinks/.vim/autoload/plug.vim.old

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.ropeproject

# Tags file
tags
.tags
tags/
tags.lock

# VIM file
.netrwhist
symlinks/.vim/swapfiles/*
!symlinks/.vim/swapfiles/.gitkeep
symlinks/.vim/undofiles/*
!symlinks/.vim/undofiles/.gitkeep
symlinks/.vim/backupfiles/*
!symlinks/.vim/backupfiles/.gitkeep

symlinks/nvim/swapfiles/*
!symlinks/nvim/swapfiles/.gitkeep
symlinks/nvim/undofiles/*
!symlinks/nvim/undofiles/.gitkeep
symlinks/nvim/backupfiles/*
!symlinks/nvim/backupfiles/.gitkeep
