[color]
    ui = true
[user]
    name = Jan Robert Schmidt
    ; email = jaro.schmidt@gmail.com
    email = jan_robert.schmidt@tu-dresden.de
[core]
    editor = "vim"
    excludesfile = /Users/janrobertschmidt/.gitignore
[push]
    default = current
[commit]
    verbose = true

# define a handy abbrev for CPG repositories (sitting on ptpcp4)
[url "git@141.30.17.24:"]
    insteadOf = cpg:
[pull]
    rebase = false
